# dependencies
node_modules/

# environment variables
.env

# build folders
dist/
build/

# logs
npm-debug.log*

# OS files
.DS_Store
Thumbs.db

# vscode settings
.vscode/

# package lock optional
package-lock.json